.body{
    text-align:right;
    direction:rtl;
}

button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.rtl{
    direction:rtl;
}

.ltr{
    direction:ltr;
}

.list-entered .list-item {
    transition: all 1s;
}

.list-entered li.list-item, .input-add {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 1rem;
}

    .list-item--move,
    .list-item--action {
        font-size: 1.6rem;
        color: #adadad;
        cursor:pointer;
    }

.red {
    color: #e47a7a !important;
}

.green {
    color: #67c76f !important;
}
