<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>regate</title>

    <!-------------------CSS-------------------------->
    <!----------------------------------------------------->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
    <!--==============================================================-->
    <!--=========================== header ===========================-->
    <!--==============================================================-->
    <div class="bg-dark fixed-top flex-column p-2 text-center">
        <h3 style="color:#fff">Regate</h3>
    </div>

    <!--==============================================================-->
    <!--=========================== content ===========================-->
    <!--==============================================================-->
    <div class="row">
        <div class="col-md-6">
            <main role="main" id="todo-list">
                <div class="jumbotron">
                    <div class="container">
                        <textarea class="form-control" rows="9">{{filterData()}}</textarea>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-entered p-0">
                                <draggable :list="items" v-model="items" :options="{handle:'.list-item--move'}">
                                    <li v-for="(item, index) in items" class="list-item">
                                        <a class="list-item--move ml-2"><i class="fas fa-bars"></i></a>
                                        <input class="form-control list-item--input" type="text" dir="rtl" v-model="items[index]" />
                                        <a class="list-item--action red mr-2" v-on:click="deleteItem(index)"><i class="fas fa-times-circle"></i></a>
                                    </li>
                                </draggable>
                            </ul>
                            <hr />
                            <div class="input-add">
                                <input class="form-control" type="text" dir="rtl" v-model="newTodoText" v-on:keydown.enter="checkForm" v-on:blur="checkForm"  placeholder="محتوا را وارد نمایید" />
                                <a class="list-item--action green mr-2" v-on:click="checkForm"><i class="fas fa-plus-circle"></i></a>
                            </div>
                        </div><!-- /col-md-12 -->
                    </div><!-- /row -->
                </div> <!-- /container -->
            </main>
        </div>
        
    </div>
     

<div class="row">
    <div class="col-md-12">
        <main>
            <div id="root"></div>
        </main>
    </div>
</div>
    
    





    <!-------------------SCRIPT-------------------------->
    <!----------------------------------------------------->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<!--<script src="like_button.js"></script>-->
<div id="root"></div>
<script type="text/babel">

      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('root')
      );

    </script>

</body>
</html>